

html {
    font-family: "Lato", sans-serif;
    display: block;
    margin: 0 10%;
}

body {
    display: block;
}

h3 {
    text-decoration: underline;
}

p {
    font-weight: 700;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}

/* Header */

.header {
    text-align: left;
    font-size: 35;
    padding: 15px;
}

.container {
    border: 1px solid grey;
    padding: 10px;
    margin: 10px auto;
}

.panel {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    font-size: 20px;
}

/* Colors */

.darkcyan {
    background-color: hsl(180, 100%, 27%);
    color: white

}

.cool-grey {
    background-color: hsl(210, 10%, 50%);
    color: white;
}

.infrared { 
    background-color: hsl(0, 100%, 50%);
    color: white;
}

.uni-blue {
    background-color: hsl(204, 71%, 73%);
}

.dijon {
    background-color: hsl(43, 100%, 50%);
}

.charcoal {
    background-color: hsl(0, 0%, 20%);
    color: white;
}

/* Fonts */

.font-container {
    width: 45%;
}

.montserrat {
    font-family: "Montserrat", sans-serif !important;
}

.outfit {
    font-family: "Outfit", sans-serif !important;
    letter-spacing: 0.5px;
}

.quicksand {
    font-family: "Quicksand", sans-serif, !important;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 900;
}

.italic {
    font-style: italic;
}

/* Text Styles */
.styles h1 {
    font-weight: 700;
    font-size: 26px;
    font-family: "Lato", sans-serif;
}

.styles .subheading {
    font-weight: 500;
    font-size: 18px;
    font-family: "Lato", sans-serif;
}