* {
font-family: "Lato", sans-serif;
}

/* Header */

.header {
    text-align: left;
    font-size: 35;
    padding: 15px;
}

/* Colors */
.color-container {
    border: 1px solid black;
    display: block;
    padding: 10px;
    width: 100%;
}

.panels {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin: 20px auto;
    min-height: 20px;
}

.darkcyan {
    background-color: hsl(180, 100%, 27%);
    color: white

}

.cool-grey {
    background-color: ;
}